
server:
  port: 8082
spring:
  datasource:
    url: jdbc:h2:mem:feedb
    driver-class-name: org.h2.Driver
    username: sa
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-consol
resilience4j:
  circuitbreaker:
    instances:
      studentService:
        slidingWindowSize: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 5s
